In [1]:
import pandas as pd
df = pd.read_json('/Users/joshuarkarnad/Desktop/Thinkful/pokerlinks.json')
array = df['text']
array_length = array[0]
links = []
for i in range(0,len(array_length)):
    links.append(array[0][i])
import re

In [2]:
# Importing in each cell because of the kernel restarts.
import scrapy
from scrapy.crawler import CrawlerProcess

class ShirleySpider(scrapy.Spider):
    # Naming the spider is important if you are running more than one spider of
    # this class simultaneously.
    name = "ProfilePage"
    
    # URL(s) to start with.
    start_urls = links

    # What to do with the URL.  Here, we tell it to download all the code and save
    # it to the mainpage.html file
    def parse(self, response):
        
        yield {
            'text': response.xpath('//p[@class="article"]').extract(),
            'player name': response.xpath('//td[@align="center"]/h1/text()').extract()
              }
        
        
            

process = CrawlerProcess({
    'FEED_FORMAT': 'json',         # Store data in JSON format.
    'FEED_URI': 'pokerplayer.json',  # Name our storage file.
    'LOG_ENABLED': False           # Turn off logging for now.
})

# Start the crawler with our spider.
process.crawl(ShirleySpider)
process.start()
print('Success!')

Success!

In [2]:
df2 = pd.read_json('/Users/joshuarkarnad/Desktop/Thinkful/pokerplayer.json')

In [3]:
df2

,player name,text
0,[Chris Moneymaker],"[<p class=""article"">\n <img border=""3"" sr..."
1,[Frankie O'Dell],"[<p class=""article"">\n <img border=""0"" sr..."
2,[Steve Badger],"[<p class=""article""><img border=""3"" src=""Steve..."
3,[Barbara Enright],"[<p class=""article"">\n <img border=""0"" sr..."
4,[Phil Hellmuth Jr.],"[<p class=""article"">\n <img border=""0"" sr..."
5,[Vanessa Rousso],"[<p class=""article"">\n <img border=""3"" sr..."
6,[Phil Ivey],"[<p class=""article""><img border=""3"" src=""Phil-..."
7,[Daniel Negreanu],"[<p class=""article"">\n <img border=""0"" sr..."
8,[Mark Seif],"[<p class=""article""><img border=""0"" src=""Mark-..."
9,[Amir Vahedi],"[<p class=""article"">\n <img border=""0"" sr..."
10,[Robert Turner],"[<p class=""article"">\n <img border=""0"" sr..."
11,[Mike Sexton],"[<p class=""article""><img border=""0"" src=""Mike-..."
12,[Shirley Rosario Interview],"[<p class=""article"">\n <img border=""0"" sr..."

In [9]:
import re
for i in range(0,len(df2)):
    df2.text[i][0] = re.sub('<[^>]+>', '', df2.text[i][0])

In [7]:
df2.head()

           player name                                               text
0   [Chris Moneymaker]  [\n      Chris \n      Moneymaker is the real ...
1     [Frankie O'Dell]  [\n      The first \n      time I met Frankie,...
2       [Steve Badger]  [I \n      first met Steve Badger in 1993. I w...
3    [Barbara Enright]  [\n      Barbara \n      Enright has been play...
4  [Phil Hellmuth Jr.]  [\n      Phil \n      Hellmuth Jr. is one of t...